//mixins
@mixin transition($val, $timing: ease-in-out) {
  -webkit-transition: all $val $timing;
  transition: all $val $timing;
}

@mixin toms-flex-between($nL: 1, $sp: 0) {
  $nS: ($nL * 2) - 2;
  float: left;
  width: (100% / $nL) - $sp;
  margin: 0 ((($sp * $nL) / $nS) * 1%);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin BIGBoy($ourColor, $Vtop, $Htop) {
  a {
    border-top: 4px solid $ourColor;

    .wrapper {
      background: $ourColor;
    }

    .icon {
      &:before {
        top: $Vtop;
      }

      &:after {
        top: $Htop;
      }

      .icon--small {

        &:before, &:after {
          background: $ourColor;
        }
        
        i {
          color: $ourColor;

          &:before, &:after {
            background: $ourColor;
          }
        }
      }
    }

    .info {
      p span {
        color: $ourColor;
      }
    }

    .select {
      border-top: 2.8px solid $ourColor;
    }
  } 
}

//placeholders
%heightFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}