//mixins
@mixin transition($val, $timing: ease-in-out) {
  -webkit-transition: all $val $timing;
  transition: all $val $timing;
}

@mixin tomsPerfectLiPosi($nL: 1, $sp: 0) {
  $nS: ($nL * 2) - 2;
  float: left;
  width: (100% / $nL) - $sp;
  margin: 0 ((($sp * $nL) / $nS) * 1%);
}

//placeholders
%heightFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}