@import "./functions";
@import "./mixinsAndPlaceholders";
@import "./variablesAndFont";


* {
  box-sizing: border-box;
}
.container, .container--half {
  max-width: $containerMax;
  margin: auto;
  height: 100%;
}
.container--half {
  max-width: 60%;
}
header {
  background: url("../../images/headerBG.jpg") no-repeat center center;
  background-size: cover;
  position: relative;

  .container > *, & > * {
    position: relative;
    z-index: 999;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .83;
  }

  nav {
    border-bottom: $discrepancy solid #29292b;
    @extend %heightFix;

    .logo {
      height: em(40);
      width: em(120);
      float: left;
      background: url("../../images/headerLogo.png") no-repeat center center;
      background-size: 100% auto;
      position: absolute;
      top: 50%;
      margin-top: (em(40) * (-1)) / 2;
    }

    ul.main {
      float: right;
      width: 60%;
      
      li {
        @include tomsPerfectLiPosi(6);
        margin-bottom: $discrepancy * (-1);

        a {
          font-size: .8em;
          font-family: $primaryFontFamilyRegular;
          display: block;
          position: relative;
          float: right;
          width: auto;
          padding: em(35) 0;
          text-align: right;
          color: #fff;
          
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            left: 50%;
            transition: all .2s ease-out;
            background: #fff;
            height: $discrepancy;
          }

          &.active:before {
            left: 0;
            width: 100%;
          }

          &:hover:before {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  .wrapper {
    color: #fff;
    padding: 17rem 0;
    text-align: center;

    .motto {
      font-size: 3.4rem;
      line-height: 4.7rem;
      font-family: $primaryFontFamilyBold;
    }
  
    .motto--subheader {
      font-size: 1.2rem;
      line-height: 2rem;
      font-family: $primaryFontFamilyItalic;
    }
  }
}

.registerPad {
  @extend %heightFix;
  overflow: hidden;

  li {
    width: 100%;
    margin-right: -50%;
    float: left;
    transform: skewX(-20deg);

    &.login {
      transform: none;

      a {
        background: #21424a;

        &:hover {
          background: lighten(#21424a, 7%);
        }

        &:before {
          transform: skewX(-20deg);
        }
      }
    }

    &.register {

      a {
        background: #2fac6c;

        &:hover {
          background: lighten(#2fac6c, 7%);
        }

        p {
          transform: skewX(20deg);
          margin-left: 0;
        }
      }
    }

    a {
      display: block;
      padding: 2.4rem 0;
      position: relative;
      overflow: hidden;
      transition: all .3s;
      
      &:before {
        content: "";
        position: absolute;
        width: 30%;
        height: 100%;
        background: linear-gradient(to right, #ffffff00, #ffffff56, #ffffff00);
        top: 0;
        left: 60%;
      }
      //task fix the fuzziness for mozilla

      &:hover:before {
        left: -100%;
        transition: all .7s ease-out;
      }
  
      p {
        width: 30%;
        // float: left;
        // task ^^^
        text-align: center;
        margin-left: 20%;
        font-family: $primaryFontFamilyBold;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
.table-block {
  padding: 4.3rem 0;
  font-family: $primaryFontFamilyRegular;
  text-align: center;

  h2 {
    font-family: $primaryFontFamilyBold;
    margin-bottom: .7rem;
    font-size: 1.2rem;
  }

  p {
    color: #a2a2a2;
    line-height: 1.3;
    margin-bottom: .7rem;
  }

  form {
    width: 100%;
    border: $primaryBorder;
    margin: 2rem 0;
    display: flex;
    flex-flow: row nowrap;

    ::placeholder {
      opacity: 1;
      @include transition(.2s);
    }
    :focus::placeholder {
      opacity: 0;
    }

    & > * {
      outline: none;
    }

    input, select {
      padding: .6rem 0;
      text-align: center;
      border: none;
      font-family: $primaryFontFamilyRegular;
      color: #a2a2a2;
    }

    input[name="domain"] {
      text-align: left;
      color: #a6a6a6;
      font-family: $primaryFontFamilyBold;
      flex: 1;
      padding: .4rem 1rem;
      margin: .2rem 0;
      border: 1px solid #d9d9d9;
      border-color: transparent #d9d9d9;

      // &:focus form {
      //   border-color: darken(#d9d9d9, 30%);
      // }
      //task ^^^
      //add onclick events
    }

    input[name="3W"] {
      width: 4rem;
      float: left;
    }

    select {
      width: 4rem;
      float: right;
      padding: .54rem 0;
    }
  }

  .table {
    border: $primaryBorder;
    padding: .7rem 1.2rem;

    .row {
      @extend %heightFix;

      .cell {
        @include tomsPerfectLiPosi(4);
        color: $primaryColor;
        font-family: $primaryFontFamilyRegular;
        padding: 1.7rem 0 2rem 0;
        border-right: $primaryBorder;
        @include transition(.2s);
        cursor: default;
        font-size: .91rem;

        &:hover {
          color: darken($primaryColor, 30%);
        }

        &:last-child {
          border-right: none;
        }
      }

      &:nth-child(1) {
        .cell {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            background: #fff;
            width: $lilSquare;            
            height: $lilSquare;
            right: $lilSquare / 2 * (-1);
            bottom: $lilSquare / 2 * (-1);         
          }
        }
        .cell:last-child {
          &:before {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        .cell {
          border-top: $primaryBorder;
          margin-top: -.5px;
        }
      }
    }
  }
}
.packages-block {
  background: url("../../images/packagesBG.jpg") no-repeat 0 -12rem;
  background-size: 100% auto;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    background: #fff;
    z-index: 0;
  }
  
  ul {
    @extend %heightFix;
    position: relative;
    z-index: 9999;

    li {
      @include tomsPerfectLiPosi(4, 3);
      background: #fff;
      box-shadow: 0px 0px 8px -1px $primaryColor;
      @include transition(.1s);
      transform: scale(.98);

      &:hover {
        transform: scale(1);
      }

      &:nth-child(1) {
        @include BIGBoy($packagesYellow, 0, 50%);
      }

      &:nth-child(2) {
        @include BIGBoy($packagesGray, 0, 100%);
      }

      &:nth-child(3) {
        @include BIGBoy($packagesOranged, 50%, 100%);
      }

      &:nth-child(4) {
        @include BIGBoy($packagesCyan, 100%, 100%);
      }

      a {
        display: block;
        text-align: center;
        padding: 2rem 1.6rem 0;
      }
    }
  }
}
//sass --watch sass:css --style expanded