ul:after, header nav:after, .registerPad:after, .table-block .table .row:after, .packages-block ul:after, .information-block .container:after, .information-block .container > ul li ul.lilIcon:after, .circles .container ul:after, footer nav:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'latoregular';
  src: url("../../font/lato-regular-webfont.woff2") format("woff2"), url("../../font/lato-regular-webfont.woff") format("woff"), url("../../font/lato-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url("../../font/lato-bold-webfont.woff2") format("woff2"), url("../../font/lato-bold-webfont.woff") format("woff"), url("../../font/lato-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url("../../font/lato-italic-webfont.woff2") format("woff2"), url("../../font/lato-italic-webfont.woff") format("woff"), url("../../font/lato-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url("../../font/lato-hairline-webfont.woff2") format("woff2"), url("../../font/lato-hairline-webfont.woff") format("woff"), url("../../font/lato-hairline-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latothin';
  src: url("../../font/lato-thin-webfont.woff2") format("woff2"), url("../../font/lato-thin-webfont.woff") format("woff"), url("../../font/lato-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .container--half {
  max-width: 1024px;
  margin: auto;
  height: 100%;
}

.container--half {
  max-width: 60%;
}

header {
  background: url("../../images/headerBG.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
header .container > *, header > * {
  position: relative;
  z-index: 999;
}
header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .83;
}
header nav {
  border-bottom: 1px solid #29292b;
}
header nav .logo {
  height: 2.5em;
  width: 7.5em;
  float: left;
  background: url("../../images/headerLogo.png") no-repeat center center;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  margin-top: -1.25em;
}
header nav ul.main {
  float: right;
  width: auto;
}
header nav ul.main li {
  width: auto;
  float: left;
  padding-left: 1.7rem;
  margin-bottom: -1px;
}
header nav ul.main li a {
  font-size: .8em;
  font-family: "latoregular", "Courier New", Courier, monospace;
  display: block;
  position: relative;
  float: right;
  width: auto;
  padding: 2.1875em 0;
  text-align: right;
  color: #fff;
}
header nav ul.main li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background: #fff;
  height: 1px;
}
header nav ul.main li a.active:before {
  left: 0;
  width: 100%;
}
header nav ul.main li a:hover:before {
  width: 100%;
  left: 0;
}
header .wrapper {
  color: #fff;
  padding: 17rem 0;
  text-align: center;
}
header .wrapper .motto {
  font-size: 3.4rem;
  line-height: 4.7rem;
  font-family: "latobold", "Courier New", Courier, monospace;
}
header .wrapper .motto--subheader {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "latoitalic", "Courier New", Courier, monospace;
}

.registerPad {
  overflow: hidden;
}
.registerPad li {
  width: 100%;
  margin-right: -50%;
  float: left;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.registerPad li.login {
  -webkit-transform: none;
  transform: none;
}
.registerPad li.login a {
  background: #21424a;
}
.registerPad li.login a:hover {
  background: #2c5863;
}
.registerPad li.login a:before {
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.registerPad li.register a {
  background: #2fac6c;
}
.registerPad li.register a:hover {
  background: #37c87e;
}
.registerPad li.register a p {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  margin-left: 0;
}
.registerPad li a {
  display: block;
  padding: 2.4rem 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.registerPad li a:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#ffffff56), to(#ffffff00));
  background: linear-gradient(to right, #ffffff00, #ffffff56, #ffffff00);
  top: 0;
  left: 60%;
}
.registerPad li a:hover:before {
  left: -100%;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}
.registerPad li a p {
  width: 30%;
  text-align: center;
  margin-left: 20%;
  font-family: "latobold", "Courier New", Courier, monospace;
  color: #fff;
  text-transform: uppercase;
}

.table-block {
  padding: 4.3rem 0;
  font-family: "latoregular", "Courier New", Courier, monospace;
  text-align: center;
}
.table-block h2 {
  font-family: "latobold", "Courier New", Courier, monospace;
  margin-bottom: .7rem;
  font-size: 1.2rem;
}
.table-block p {
  color: #a2a2a2;
  line-height: 1.3;
  margin-bottom: .7rem;
}
.table-block form {
  width: 100%;
  border: 1px solid #bebebe;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.table-block form ::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.table-block form :-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.table-block form ::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.table-block form :focus::-webkit-input-placeholder {
  opacity: 0;
}
.table-block form :focus:-ms-input-placeholder {
  opacity: 0;
}
.table-block form :focus::placeholder {
  opacity: 0;
}
.table-block form > * {
  outline: none;
}
.table-block form input, .table-block form select {
  padding: .6rem 0;
  text-align: center;
  border: none;
  font-family: "latoregular", "Courier New", Courier, monospace;
  color: #a2a2a2;
}
.table-block form input[name="domain"] {
  text-align: left;
  color: #b4b4b4;
  font-family: "latobold", "Courier New", Courier, monospace;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: .4rem 1rem;
  margin: .2rem 0;
  border: 1px solid #d9d9d9;
  border-color: transparent #d9d9d9;
}
.table-block form input[name="3W"] {
  width: 4rem;
  float: left;
}
.table-block form select {
  width: 4rem;
  float: right;
  padding: .54rem 0;
}
.table-block .table {
  border: 1px solid #bebebe;
  padding: .7rem 1.2rem;
}
.table-block .table .row .cell {
  float: left;
  width: 25%;
  margin: 0 0%;
  color: #bebebe;
  font-family: "latoregular", "Courier New", Courier, monospace;
  padding: 1.7rem 0 2rem 0;
  border-right: 1px solid #bebebe;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: default;
  font-size: .91rem;
}
.table-block .table .row .cell:first-child {
  margin-left: 0;
}
.table-block .table .row .cell:last-child {
  margin-right: 0;
}
.table-block .table .row .cell:hover {
  color: #727272;
}
.table-block .table .row .cell:last-child {
  border-right: none;
}
.table-block .table .row:nth-child(1) .cell {
  position: relative;
}
.table-block .table .row:nth-child(1) .cell:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0.4rem;
  height: 0.4rem;
  right: -0.2rem;
  bottom: -0.2rem;
}
.table-block .table .row:nth-child(1) .cell:last-child:before {
  display: none;
}
.table-block .table .row:nth-child(2) .cell {
  border-top: 1px solid #bebebe;
  margin-top: -.5px;
}

.packages-block {
  background: url("../../images/packagesBG.jpg") no-repeat 0 -12rem;
  background-size: 100% auto;
  padding: 4.9rem 0;
  position: relative;
  overflow: hidden;
}
.packages-block:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  background: #fff;
  z-index: 0;
}
.packages-block ul {
  position: relative;
  z-index: 9999;
}
.packages-block ul li {
  float: left;
  width: 22%;
  margin: 0 2%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px -2px #585858;
  box-shadow: 0px 2px 8px -2px #585858;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.packages-block ul li:first-child {
  margin-left: 0;
}
.packages-block ul li:last-child {
  margin-right: 0;
}
.packages-block ul li a .icon {
  width: 3rem;
  height: 3rem;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.packages-block ul li a .icon .wrapper {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
}
.packages-block ul li a .icon:before, .packages-block ul li a .icon:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background: #fff;
  z-index: 2;
}
.packages-block ul li a .icon:after {
  width: 100%;
}
.packages-block ul li a .icon .icon--small {
  width: 2.3rem;
  height: 2.3rem;
  background: #fff;
  margin: 0.35rem;
  border-radius: 700px;
  position: relative;
}
.packages-block ul li a .icon .icon--small i {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  z-index: 99;
}
.packages-block ul li a .icon .icon--small:before, .packages-block ul li a .icon .icon--small:after {
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 700px;
  position: absolute;
  z-index: 99;
}
.packages-block ul li a .icon .icon--small:before {
  left: 50%;
  margin-left: -0.175rem;
  top: -0.35rem;
}
.packages-block ul li a h3 {
  text-transform: uppercase;
  line-height: 2.6rem;
  border-bottom: 1px solid #bebebe;
  font-family: "latobold", "Courier New", Courier, monospace;
}
.packages-block ul li a .info {
  border-bottom: 1px solid #bebebe;
}
.packages-block ul li a .info p {
  margin: 1rem 0;
  text-align: left;
  color: #bebebe;
}
.packages-block ul li a .info p span {
  float: right;
}
.packages-block ul li a p.price {
  padding: 1.39rem 0 .3rem 0;
  font-family: "latobold", "Courier New", Courier, monospace;
  font-size: 1.39rem;
}
.packages-block ul li a p.price .dollar {
  font-size: 1rem;
  vertical-align: top;
}
.packages-block ul li a p.price .mon {
  font-family: "latoregular", "Courier New", Courier, monospace;
  color: #8d8d8d;
  font-size: .8rem;
  vertical-align: bottom;
}
.packages-block ul li a .select {
  font-family: "latobold", "Courier New", Courier, monospace;
  text-transform: uppercase;
  padding: 1rem 0 1.8rem;
  width: 60%;
  margin: auto;
}
.packages-block ul li:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.packages-block ul li:nth-child(1) a {
  border-top: 4px solid #f9d423;
}
.packages-block ul li:nth-child(1) a .wrapper {
  background: #f9d423;
}
.packages-block ul li:nth-child(1) a .icon:before {
  top: 0;
}
.packages-block ul li:nth-child(1) a .icon:after {
  top: 50%;
}
.packages-block ul li:nth-child(1) a .icon .icon--small:before, .packages-block ul li:nth-child(1) a .icon .icon--small:after {
  background: #f9d423;
}
.packages-block ul li:nth-child(1) a .icon .icon--small i {
  color: #f9d423;
}
.packages-block ul li:nth-child(1) a .icon .icon--small i:before, .packages-block ul li:nth-child(1) a .icon .icon--small i:after {
  background: #f9d423;
}
.packages-block ul li:nth-child(1) a .info p span {
  color: #f9d423;
}
.packages-block ul li:nth-child(1) a .select {
  border-top: 2.8px solid #f9d423;
}
.packages-block ul li:nth-child(1) .icon--small:after {
  top: 50%;
  margin-top: -0.175rem;
  right: -0.35rem;
}
.packages-block ul li:nth-child(2) a {
  border-top: 4px solid #7f8c8d;
}
.packages-block ul li:nth-child(2) a .wrapper {
  background: #7f8c8d;
}
.packages-block ul li:nth-child(2) a .icon:before {
  top: 0;
}
.packages-block ul li:nth-child(2) a .icon:after {
  top: 100%;
}
.packages-block ul li:nth-child(2) a .icon .icon--small:before, .packages-block ul li:nth-child(2) a .icon .icon--small:after {
  background: #7f8c8d;
}
.packages-block ul li:nth-child(2) a .icon .icon--small i {
  color: #7f8c8d;
}
.packages-block ul li:nth-child(2) a .icon .icon--small i:before, .packages-block ul li:nth-child(2) a .icon .icon--small i:after {
  background: #7f8c8d;
}
.packages-block ul li:nth-child(2) a .info p span {
  color: #7f8c8d;
}
.packages-block ul li:nth-child(2) a .select {
  border-top: 2.8px solid #7f8c8d;
}
.packages-block ul li:nth-child(2) .icon--small:after {
  left: 50%;
  margin-left: -0.175rem;
  bottom: -0.35rem;
}
.packages-block ul li:nth-child(3) a {
  border-top: 4px solid #f85f40;
}
.packages-block ul li:nth-child(3) a .wrapper {
  background: #f85f40;
}
.packages-block ul li:nth-child(3) a .icon:before {
  top: -50%;
}
.packages-block ul li:nth-child(3) a .icon:after {
  top: 100%;
}
.packages-block ul li:nth-child(3) a .icon .icon--small:before, .packages-block ul li:nth-child(3) a .icon .icon--small:after {
  background: #f85f40;
}
.packages-block ul li:nth-child(3) a .icon .icon--small i {
  color: #f85f40;
}
.packages-block ul li:nth-child(3) a .icon .icon--small i:before, .packages-block ul li:nth-child(3) a .icon .icon--small i:after {
  background: #f85f40;
}
.packages-block ul li:nth-child(3) a .info p span {
  color: #f85f40;
}
.packages-block ul li:nth-child(3) a .select {
  border-top: 2.8px solid #f85f40;
}
.packages-block ul li:nth-child(3) .icon--small:after {
  top: 50%;
  margin-top: -0.175rem;
  left: -0.35rem;
}
.packages-block ul li:nth-child(4) a {
  border-top: 4px solid #1abc9c;
}
.packages-block ul li:nth-child(4) a .wrapper {
  background: #1abc9c;
}
.packages-block ul li:nth-child(4) a .icon:before {
  top: 100%;
}
.packages-block ul li:nth-child(4) a .icon:after {
  top: 100%;
}
.packages-block ul li:nth-child(4) a .icon .icon--small:before, .packages-block ul li:nth-child(4) a .icon .icon--small:after {
  background: #1abc9c;
}
.packages-block ul li:nth-child(4) a .icon .icon--small i {
  color: #1abc9c;
}
.packages-block ul li:nth-child(4) a .icon .icon--small i:before, .packages-block ul li:nth-child(4) a .icon .icon--small i:after {
  background: #1abc9c;
}
.packages-block ul li:nth-child(4) a .info p span {
  color: #1abc9c;
}
.packages-block ul li:nth-child(4) a .select {
  border-top: 2.8px solid #1abc9c;
}
.packages-block ul li:nth-child(4) .icon--small:after {
  display: none;
}
.packages-block ul li a {
  display: block;
  text-align: center;
  padding: 2rem 1.6rem 0;
}

.information-block .container {
  border-top: 2px dotted #bebebe;
  padding: 4rem 0;
}
.information-block .container section {
  width: 40%;
  float: left;
  height: 100%;
  margin: 2rem 0;
  position: relative;
}
.information-block .container section:after {
  content: "";
  top: 10%;
  right: -1.7rem;
  position: absolute;
  bottom: 10%;
  border-right: 2px dotted #bebebe;
}
.information-block .container section h2 {
  font-family: "latobold", "Courier New", Courier, monospace;
  font-size: 2rem;
}
.information-block .container section p {
  font-family: "latoregular", "Courier New", Courier, monospace;
  color: #bebebe;
  padding: 1rem 0;
  text-align: justify;
  line-height: 1.49;
  width: 80%;
}
.information-block .container > ul {
  width: 52%;
  padding: 2rem 0;
  float: right;
  position: relative;
  margin-top: 1%;
}
.information-block .container > ul li {
  float: left;
  width: 25.3333333333%;
  margin: 0 6%;
}
.information-block .container > ul li:first-child {
  margin-left: 0;
}
.information-block .container > ul li:last-child {
  margin-right: 0;
}
.information-block .container > ul li .portrait {
  width: 4.7rem;
  height: 4.7rem;
  margin: auto;
  background: url("../../images/info-johny.png") no-repeat center center;
  background-size: 101% 101%;
  border-radius: 700px;
  border: 4px solid #bebebe;
  margin-bottom: .4rem;
}
.information-block .container > ul li:nth-child(2) .portrait {
  background-image: url("../../images/info-john.png");
}
.information-block .container > ul li:nth-child(3) .portrait {
  background-image: url("../../images/info-johnathan.png");
}
.information-block .container > ul li p {
  text-align: center;
}
.information-block .container > ul li p.name {
  font-family: "latobold", "Courier New", Courier, monospace;
  line-height: 1.7;
}
.information-block .container > ul li p.career {
  color: #bebebe;
}
.information-block .container > ul li ul.lilIcon {
  width: 80%;
  margin: auto;
}
.information-block .container > ul li ul.lilIcon li {
  float: left;
  width: 33.3333333333%;
  margin: 0 0%;
}
.information-block .container > ul li ul.lilIcon li:first-child {
  margin-left: 0;
}
.information-block .container > ul li ul.lilIcon li:last-child {
  margin-right: 0;
}
.information-block .container > ul li ul.lilIcon li a {
  display: block;
  padding: .7rem 0;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.information-block .container > ul li ul.lilIcon li a.active {
  color: #1f89ba;
}
.information-block .container > ul li ul.lilIcon li a:hover {
  color: #1f89ba;
}

.slider {
  position: relative;
}
.slider .slide {
  padding: 1rem 0;
  background: url("../../images/sliderBG.jpg") no-repeat center center;
  background-size: cover;
  display: none;
  min-height: 12rem;
}
.slider .slide p {
  font-family: "latothin", "Courier New", Courier, monospace;
  color: #fff;
  width: 60%;
  margin: auto;
  padding: .7rem 0 3rem 0;
  text-align: center;
  line-height: 1.6;
}
.slider .slide:nth-child(1) {
  display: block;
  background-position-y: 70%;
}
.slider .slide:nth-child(2) {
  background-position-y: top;
}
.slider .slide:nth-child(3) {
  background-position-y: bottom;
}
.slider .holder {
  width: 3.2rem;
  bottom: 3rem;
  left: 50%;
  position: absolute;
  margin-bottom: .25rem;
  margin-right: -0.4rem;
  margin-left: 0.4rem;
}
.slider .holder li {
  float: left;
  width: 33.3333333333%;
  margin: 0 0%;
}
.slider .holder li:first-child {
  margin-left: 0;
}
.slider .holder li:last-child {
  margin-right: 0;
}
.slider .holder li span {
  width: .5rem;
  height: .5rem;
  border-radius: 700px;
  background: transparent;
  display: block;
  border: 1px solid #fff;
  margin: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.slider .holder li span:hover, .slider .holder li span.active {
  cursor: pointer;
  background: #fff;
}
.slider #specialP {
  width: 10rem;
  color: #fff;
  font-family: "latobold", "Courier New", Courier, monospace;
  position: absolute;
  text-align: right;
  border-right: 1px solid #fff;
  padding-right: 0.4rem;
  left: 50%;
  margin-left: -10rem;
  bottom: 3rem;
}

.circles {
  padding: 4.9rem 0;
}
.circles .container ul li {
  float: left;
  width: 25%;
  margin: 0 0%;
  padding: 0 0.7rem;
}
.circles .container ul li:first-child {
  margin-left: 0;
}
.circles .container ul li:last-child {
  margin-right: 0;
}
.circles .container ul li a {
  display: block;
  padding: 1.7rem 1.2rem;
  -webkit-transition: .2s all ease-out;
  transition: .2s all ease-out;
  text-align: center;
  border-radius: 40px;
}
.circles .container ul li a:hover {
  -webkit-box-shadow: 0 0 12px -1px #acacac;
  box-shadow: 0 0 12px -1px #acacac;
}
.circles .container ul li a .circle {
  width: 3rem;
  height: 3rem;
  background: #f1c40f;
  border-radius: 700px;
  margin: auto;
  position: relative;
}
.circles .container ul li a .circle i {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  margin-top: -0.6rem;
  left: 50%;
  color: #fff;
  margin-left: -0.8rem;
  text-align: center;
  font-size: 1.3rem;
}
.circles .container ul li a h2 {
  font-family: "latobold", "Courier New", Courier, monospace;
  line-height: 2;
}
.circles .container ul li a p {
  line-height: 1.2;
  color: #bebebe;
}
.circles .container ul li:nth-child(2) .circle {
  background: #0faff1;
}
.circles .container ul li:nth-child(3) .circle {
  background: #95a5a6;
}
.circles .container ul li:nth-child(4) .circle {
  background: #f1540f;
}

footer {
  background: #2a2a2a;
}
footer > * {
  font-size: .8rem;
}
footer nav {
  border-bottom: 1px solid #4a4a4a;
  position: relative;
  overflow: hidden;
}
footer nav:before {
  content: "";
  width: 8rem;
  height: 100%;
  position: absolute;
  left: 0;
  background: #2a2a2a;
  opacity: .8;
  z-index: 9999;
}
footer nav .logo {
  background: url("../../images/headerLogo.png") no-repeat center center;
  background-size: 100% auto;
  height: 4rem;
  width: 8rem;
  left: 0;
  top: 50%;
  margin-top: -2rem;
  position: absolute;
}
footer nav ul {
  width: 40%;
  float: right;
}
footer nav ul li {
  float: left;
  width: 20%;
  margin: 0 0%;
}
footer nav ul li:first-child {
  margin-left: 0;
}
footer nav ul li:last-child {
  margin-right: 0;
}
footer nav ul li a {
  display: block;
  padding: 1.6rem 0;
  text-align: center;
  font-family: "latoregular", "Courier New", Courier, monospace;
  color: #4a4a4a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
footer nav ul li a:hover, footer nav ul li a.active {
  color: #bebebe;
}
footer .main--footer {
  padding: 2rem 0;
}
footer .main--footer > li {
  float: left;
  width: 33.3333333333%;
  margin: 0 0%;
  padding: 1.6rem 0;
}
footer .main--footer > li:first-child {
  margin-left: 0;
}
footer .main--footer > li:last-child {
  margin-right: 0;
}
footer .main--footer > li:nth-child(1) p {
  color: #4a4a4a;
  font-family: "latoregular", "Courier New", Courier, monospace;
  width: 80%;
  float: left;
  line-height: 1.6;
}
footer .main--footer > li:nth-child(1) p.designMan {
  line-height: 3;
}
footer .main--footer > li:nth-child(1) p.designMan span {
  font-family: "latobold", "Courier New", Courier, monospace;
}
footer .main--footer > li:nth-child(2) {
  border: 1px solid #4a4a4a;
  border-width: 0 1px 0 1px;
}
footer .main--footer > li:nth-child(2) ul {
  width: 30%;
}
footer .main--footer > li:nth-child(2) ul:first-child {
  margin-left: 20%;
  float: left;
}
footer .main--footer > li:nth-child(2) ul:last-child {
  float: right;
  margin-right: 10%;
}
footer .main--footer > li:nth-child(2) ul li a {
  color: #4a4a4a;
  font-family: "latoregular", "Courier New", Courier, monospace;
  padding-bottom: .7rem;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
}
footer .main--footer > li:nth-child(2) ul li a:before {
  content: "\f105";
  font-family: FontAwesome;
  width: 1rem;
  position: absolute;
  left: -1rem;
}
footer .main--footer > li:nth-child(2) ul li a:hover {
  color: #bebebe;
  padding-left: .3rem;
}
footer .main--footer > li:nth-child(3) a, footer .main--footer > li:nth-child(3) p {
  display: block;
  margin-left: 20%;
  padding-bottom: .8rem;
  color: #4a4a4a;
}
footer .main--footer > li:nth-child(3) a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer .main--footer > li:nth-child(3) a:hover {
  color: #bebebe;
}
footer .main--footer > li:nth-child(3) a i {
  padding-right: .4rem;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  .container--half {
    max-width: 80%;
  }

  .packages-block .container {
    max-width: 70%;
  }
  .packages-block .container ul li {
    margin: 1%;
    width: 48%;
  }

  .information-block .container {
    width: 80%;
  }
  .information-block .container section {
    width: 100%;
    float: none;
  }
  .information-block .container section:after {
    display: none;
  }
  .information-block .container section p {
    width: 100%;
    float: none;
  }
  .information-block .container > ul {
    width: 100%;
    float: none;
  }

  .slider .slide p {
    width: 88%;
  }

  body .circles .container ul li {
    width: 48%;
    margin: 1%;
  }

  footer nav ul {
    width: 70%;
  }
  footer ul.main--footer > li {
    width: 100%;
  }
  footer ul.main--footer > li:first-child p, footer ul.main--footer > li:last-child > * {
    width: 70%;
    margin: auto;
    float: none;
  }
  footer ul.main--footer > li:nth-child(2) {
    border: none;
  }
}
@media screen and (max-width: 800px) {
  .packages-block .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header nav .logo, header nav ul.main, header nav ul.main li {
    width: 100%;
    float: none;
    height: 2rem;
  }
  header nav ul.main li {
    margin: 0;
  }
  header nav ul.main li a {
    position: static;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: #4d4d4d;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header nav ul.main li a:hover, header nav ul.main li a.active {
    color: #fff;
  }
  header nav ul.main li a:before {
    display: none;
  }
  header nav .logo {
    background-size: auto 100%;
    position: static;
    margin: 0;
  }

  .registerPad li a p, .registerPad li.register a p {
    margin-left: 10%;
  }

  .table-block form {
    display: block;
  }
  .table-block form input#threeW, .table-block form select#host, .table-block form input#domainName {
    width: 100%;
    float: none;
    text-align: center;
    border: none;
  }
  .table-block form select#host {
    width: 40%;
    margin: auto;
  }

  .table-block .table .row:nth-child(2) .cell {
    border: none;
  }
  .table-block .table .row:nth-child(2) .cell:last-child {
    border: none;
  }
  .table-block .table .row .cell {
    width: 100%;
    float: none;
    border: none;
  }
  .table-block .table .row .cell:last-child {
    border-bottom: 1px solid #bebebe;
  }

  body .circles .container ul li {
    width: 70%;
    float: none;
    margin: auto;
  }
  body .circles .container ul li:first-child, body .circles .container ul li:last-child {
    margin: auto;
  }

  .slider .slide {
    height: 16rem;
  }

  footer nav:before {
    width: 100%;
    height: 3rem;
  }
  footer nav .logo {
    width: 100%;
    position: static;
    height: 3rem;
    margin: 0;
    background-size: auto 70%;
  }
  footer nav ul {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 520px) {
  .packages-block .container ul li {
    width: 98%;
    margin: 2rem auto;
    float: none;
  }
}
@media screen and (max-width: 430px) {
  .information-block .container > ul > li {
    width: 100%;
    float: none;
    margin: 0;
    padding-top: 1rem;
  }
  .information-block .container > ul > li ul.lilIcon {
    width: 40%;
  }

  body .circles .container ul li {
    width: 90%;
  }

  footer .container {
    padding: 0;
  }
  footer nav ul li {
    width: 100%;
    float: none;
  }
  footer nav ul li a {
    padding: 1rem 0;
  }
  footer ul.main--footer > li:first-child p, footer ul.main--footer > li:last-child > * {
    width: 90%;
  }
  footer ul.main--footer > li:nth-child(2) {
    padding: 0;
  }
  footer ul.main--footer > li:nth-child(2) ul:first-child, footer ul.main--footer > li:nth-child(2) ul:last-child {
    float: none;
    margin: 0 auto;
    width: 90%;
  }
  footer ul.main--footer > li:nth-child(2) ul:first-child li, footer ul.main--footer > li:nth-child(2) ul:last-child li {
    margin-left: 1rem;
  }
  footer ul.main--footer > li:nth-child(2) ul:first-child li a, footer ul.main--footer > li:nth-child(2) ul:last-child li a {
    padding-bottom: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
