header nav:after, .registerPad:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'latoregular';
  src: url("../../font/lato-regular-webfont.woff2") format("woff2"), url("../../font/lato-regular-webfont.woff") format("woff"), url("../../font/lato-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url("../../font/lato-bold-webfont.woff2") format("woff2"), url("../../font/lato-bold-webfont.woff") format("woff"), url("../../font/lato-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url("../../font/lato-italic-webfont.woff2") format("woff2"), url("../../font/lato-italic-webfont.woff") format("woff"), url("../../font/lato-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url("../../font/lato-hairline-webfont.woff2") format("woff2"), url("../../font/lato-hairline-webfont.woff") format("woff"), url("../../font/lato-hairline-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latothin';
  src: url("../../font/lato-thin-webfont.woff2") format("woff2"), url("../../font/lato-thin-webfont.woff") format("woff"), url("../../font/lato-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.container, .container--half {
  max-width: 1024px;
  margin: auto;
  height: 100%;
}

.container--half {
  max-width: 60%;
}

header {
  background: url("../../images/headerBG.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
header .container > *, header > * {
  position: relative;
  z-index: 999;
}
header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .83;
}
header nav {
  border-bottom: 1px solid #29292b;
}
header nav .logo {
  height: 2.5em;
  width: 7.5em;
  float: left;
  background: url("../../images/headerLogo.png") no-repeat center center;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  margin-top: -1.25em;
}
header nav ul.main {
  float: right;
  width: 60%;
}
header nav ul.main li {
  width: 16.6666666667%;
  float: left;
  margin-bottom: -1px;
}
header nav ul.main li a {
  font-size: .8em;
  font-family: "latoregular", "Courier New", Courier, monospace;
  display: block;
  position: relative;
  float: right;
  width: auto;
  padding: 2.1875em 0;
  text-align: right;
  color: #fff;
}
header nav ul.main li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  transition: all .2s ease-out;
  background: #fff;
  height: 1px;
}
header nav ul.main li a.active:before {
  left: 0;
  width: 100%;
}
header nav ul.main li a:hover:before {
  width: 100%;
  left: 0;
}
header .wrapper {
  color: #fff;
  padding: 17rem 0;
  text-align: center;
}
header .wrapper .motto {
  font-size: 3.4rem;
  line-height: 4.7rem;
  font-family: "latobold", "Courier New", Courier, monospace;
}
header .wrapper .motto--subheader {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "latoitalic", "Courier New", Courier, monospace;
}

.registerPad {
  overflow: hidden;
}
.registerPad li {
  width: 100%;
  margin-right: -50%;
  float: left;
  transform: skewX(-20deg);
}
.registerPad li.login {
  transform: none;
}
.registerPad li.login a {
  background: #21424a;
}
.registerPad li.login a:hover {
  background: #2c5863;
}
.registerPad li.login a:before {
  transform: skewX(-20deg);
}
.registerPad li.register a {
  background: #2fac6c;
}
.registerPad li.register a:hover {
  background: #37c87e;
}
.registerPad li.register a p {
  transform: skewX(20deg);
  margin-left: 0;
}
.registerPad li a {
  display: block;
  padding: 2.4rem 0;
  position: relative;
  overflow: hidden;
  transition: all .3s;
}
.registerPad li a:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #ffffff00, #ffffff56, #ffffff00);
  top: 0;
  left: 60%;
}
.registerPad li a:hover:before {
  left: -100%;
  transition: all .7s ease-out;
}
.registerPad li a p {
  width: 30%;
  text-align: center;
  margin-left: 20%;
  font-family: "latobold", "Courier New", Courier, monospace;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 999;
}

.table-block {
  padding: 3.4rem 0;
  font-family: "latoregular", "Courier New", Courier, monospace;
  text-align: center;
}
.table-block h2 {
  font-family: "latobold", "Courier New", Courier, monospace;
  margin-bottom: .7rem;
  font-size: 1.2rem;
}
.table-block p {
  color: #a2a2a2;
  line-height: 1.3;
  margin-bottom: .7rem;
}

/*# sourceMappingURL=styles.css.map */
